* {
  color: white;
}

@font-face {
  font-family: "Digital";
  src: url("../font/digital-7.ttf");
}

body,
.header,
.calculator,
.keyboard,
.key-row,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  justify-content: space-between;
  background-color: #fcb31b;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.zero-dot-row,
.display,
#lower-display {
  display: flex;
}

body,
.display,
.keyboard,
.calculator {
  flex-direction: column;
}

.key-row,
.zero-dot-row,
.equal-row .equal,
.key-row button {
  width: 100%;
  height: 100%;
}

.header {
  font-weight: bold;
  background-color: #212121;
  width: 100vw;
  height: 50px;
}

.calculator {
  border: 10px solid #212121;
  background-color: #212121;
  padding: 6px;
  border-radius: 15px;
  height: 450px;
  width: 250px;
}

.display {
  background-color: #313131;
  height: 120px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.display p {
  font-family: "Digital";
  font-size: 30px;
  margin: 0;
  flex-grow: 1;
}

#lower-display {
  display: flex;
  align-items: end;
  justify-content: end;
}

.keyboard {
  width: 100%;
  margin: 10px 0px;
  margin-bottom: 0px;
  flex-grow: 2;
}

.key-row {
  justify-content: space-between;
}

.key-row button {
  background-color: #393939;
  font-weight: bold;
  font-size: large;
  border-radius: 100%;
  box-sizing: border-box;
  border: 4px solid #212121;
}

.equal-row {
  justify-content: space-between;
}
.equal-row .equal {
  border-radius: 20px;
  padding: 1px 0px;
}

.footer {
  font-size: large;
  font-weight: bold;
  background-color: #212121;
  width: 100vw;
  height: 40px;
  text-align: center;
}
